.cont{
    /* overflow-y: scroll; */
    background-image:url('/public/startup_funding_2-960x540.jpg');
    scroll-behavior: auto;
    
}
body{
    background-image:url('/public/startup_funding_2-960x540.jpg');
}